<div class="container">
    <div class="row">
<h1>{{parentTitle}}</h1>
<app-reactiveformgetset
  [ctMsg]="cityMsg" 				
  [ctArray]="cityArray"	
  [studentAddMsg]="stdAddMsg" 						
    (addStudentEvent) = "saveData($event)"
  (sendMsgEvent) = "printMsg($event)"	>
</app-reactiveformgetset> 
<p>Name: {{stdFullName}}</p>				
<p>Message: {{msg}}</p>	
<!-- <child-two
  [studentMsg] = "stdMsg"				
  [stdLeader] = "stdLeaderObj" 
  (addNumberEvent) = "printSum($event)" >
</child-two> -->
<!-- <p>Sum: {{sum}}</p>	 -->
</div>	
</div>